apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-website
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-website
  template:
    metadata:
      labels:
        app: my-website
    spec:
      containers:
      - name: nginx
        image: nginxinc/nginx-unprivileged:alpine
        ports:
        - containerPort: 8080  # nginx-unprivileged listen di port 8080
        volumeMounts:
        - name: web-content
          mountPath: /usr/share/nginx/html
      volumes:
      - name: web-content
        configMap:
          name: my-website-html
---
apiVersion: v1
kind: Service
metadata:
  name: my-website
spec:
  selector:
    app: my-website
  ports:
  - port: 80
    targetPort: 8080  # arahkan ke port 8080 container
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: my-website-html
data:
  index.html: |
    <html>
    <body>
    <h1>It Works</h1>
    <h2>berhasil terganti</h2>
    </body>
    </html>
